.Login {
    margin-top: 25%;
    text-align: center;
}

.Button {
    height: auto;
    width: auto;
    font-size: large;
    margin-top: 10px;
}

.navbar {
    font-size: 34px;
    height: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: sticky;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
    cursor: default;
}

.box {
    float: left;
    border-radius: 1px;
    height: 30px;
    width: 30px;
    margin-left: 60px;
    margin-right: 10px;
}

.spotInfo {
    position: fixed;
    padding: 10px;
    font-size: 14px;
    color: white;
}

.mapMarker {
    width: 40px;
    height: 40px;
}

.loadingScreen {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list {
    width: 32vw;
    display: flex;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

.addressListItem {
    height: 50px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    align-items: center;
    color: white;
}

input {
    height: 30px;
    width: 300px;
    font-size: large;
    margin-top: 10px;
}